.content-details {
    box-shadow: 
    20px 20px 0 -12px #232323,
    -20px -20px 0 -12px #232323;
    padding: 4rem;
    gap: 2rem;
    justify-content: left;
    align-items: center;
}

.content-details__img {
    width: 80%;
    border-radius: .5rem;
    box-shadow: 
    20px 20px 0 -12px #232323,
    -20px -20px 0 -12px #232323;
}