@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');

.header {
    padding: 3rem 5rem;
    gap: 4rem;
    align-items: center;
    justify-content: space-between;
    height: 8rem;
}

.header-item:first-child {
    font-weight: 900;
    font-size: 3rem;
}

.header-item {
    display: block;
    color: #242424;
    font-size: 2rem;
    text-transform: uppercase;
    font-family: 'Bruno Ace SC', cursive;
    font-weight: 400;
    padding: .5rem;
}

.header-item:hover {
    border-bottom: 1px solid #242424;
}