html {
  font-size: 10px;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #343434;
  color: #f1f1f1;
  text-align: center;
  padding: 3rem;
}

.title {
  font-size: 4rem;
  letter-spacing: 1rem;
  width: 60vw;
  margin: 0 auto;
  font-weight: 400;
  font-family: fantasy;
}